langchain 
langchain-core 
langchain-mistralai
ydata_profiling
chromadb
git+https://github.com/huggingface/transformers 
torch 
accelerate 
bitsandbytes
sentence-transformers
giskard[llm]
hdbscan
sklearn.cluster
tiktoken
langchain
chromadb
kaggle                            
fastapi                                 
langchain-community                    
langchain-text-splitters                
npm                                     
numpy                                   
openai                                  
pandas                                  
pydantic                                 
requests                                
scikit-learn                             
starlette                           
tokenizers                          
uvicorn                           
hqq